.mobileOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.13;
  z-index: 3;
}

.landingSection {
  overflow: hidden; 
  position: relative; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 650px;
  background: linear-gradient(90deg, #28C1AE 61.22%, #1EACAC 100%);
}

.staticDust {
  background-image: url('../../public/images/dust_layer.png');
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  transform: scaleY(-1);
  opacity: 0.7;
}

.center {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.triangle {
  left: calc(20% - 170px);
  position: absolute;
  top: -10px;
  height: 1200px;
}

.chair {
  position: absolute;
  bottom: -80px;
  width: 500px;
  left: 15%;
  transform: rotate(4deg);
  mix-blend-mode: hard-light;
}

.chairWrap {
  background: red;
}

.sloganWrap {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.sloganWrap > div {
  box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  background-color: white;
  font-size: 23px;
  padding: 0 2px;
}

.button {
  width: 200px;
  background-color: #212C39;
  position: absolute;
  top: 140px;
  left: 50%;
  font-size: 18px;
  transform: translateX(-50%);
  color: white;
  padding: 13px 54px;
  font-weight: 500;
  border: 2px solid white;
}

.sloganWrap div:nth-child(1) {
  top: -3px;
}

.sloganWrap div:nth-child(2) {
  top: 37px;
}

.sloganWrap div:nth-child(3) {
  top: 77px;
}

.socialBar {
  background: #283442;
  height: 50px;
  width: 100%;
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;
  padding: 0 32px;
}

.socialWrap {
  display: flex;
  align-items: center;
}

.socialBar svg {
  width: 20px;
  margin-left: 16px;
  cursor: pointer;
}

.follow {
  padding-right: 16px;
  font-weight: bold;
}

.patreon {
  padding: 60px 0 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.patreonTitle {
  color: #FF5C54;
  font-size: 36px;
  font-weight: bold;
}

.patreonSubtitle {
  font-size: 26px;
}

.patreonDescription {
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 0 16px;
}

.patreonButton {
  color: white;
  position: relative;
  margin-top: 32px;
  display: inline-flex;
  height: 70px;
  padding: 24px 85px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid #212C39;
}

.patreonButton span {
  mix-blend-mode: difference;
}

.hosts {
  padding: 80px 0 120px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.chicagoBackground {
  position: absolute;
  filter: brightness(0.9);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(141deg, rgb(40 193 174) 25%, rgb(40 52 66) 25%, rgb(40 52 66) 75%, rgb(35 112 206) 75%);
}

.damianWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hostsTitle {
  position: relative;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 16px;
}

.hostsColumns {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.hostsColumns > div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 200px;
  position: relative;
}

.socialTab {
  width: 150px;
  height: 30px;
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #ee554d;
}

.socialTab svg {
  width: 20px;
  cursor: pointer;
}

.hostsCircleWrap {
  position: relative;
}

.hostsCircle {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin: 8px 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.danSubColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin-top: 40px;
}

.tim .hostsCircle {
  background-image: url('../../public/images/tim.jpeg');
}

.dan .hostsCircle {
  background-image: url('../../public/images/dan.jpeg');
}

.damian .hostsCircle {
  background-image: url('../../public/images/damian.jpg');
}

.hostText {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  max-width: 900px;
  text-align: center;
  margin-top: 20px;
  padding: 16px;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .hostSpan {
  color: #333;
  font-weight: 500;
  background: white;
  padding: 0 4px;
  -webkit-box-decoration-break: clone;
  line-height: 1.65em;
} */

.spotlight {
  position: absolute;
  bottom: 115px;
  left: 0;
  width: 220px;
  opacity: 0;
  transform-origin: bottom;
  display: none;
}

.largeFont {
  font-size: 24px;
  font-weight: bold;
}

.footer {
  padding: 60px 24px;
  background-color: #323538;
  color: white;
}

.footerBottom {
  display: flex;
  flex-direction: column;
}

.sitemap div {
  margin-bottom: 8px;
  font-weight: bold;
  text-decoration: underline;
}

.socialList {
  width: 185px;
  margin-top: 0;
}

.socialList hr {
  margin: 8px 0 16px;
}

.socialLinks {
  display: flex;
  gap: 16px;
}

.socialLinks svg {
  width: 24px;
  cursor: pointer;
}

.socialListWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}

.link {
  text-decoration: underline;
}

@media screen and (min-width: 1000px) {
  .damianWrap {
    transform: rotate(-5deg) translateX(20px);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .timWrap {
    transform: rotate(5deg) translateX(-20px);
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hostText {
    font-size: 22px;
    margin-top: 70px;
  }

  .danColumn {
    transform: translateY(50px);
  }

  .sloganWrap div:nth-child(1) {
    top: -7px;
  }
  
  .sloganWrap div:nth-child(2) {
    top: 34px;
  }
  
  .sloganWrap div:nth-child(3) {
    top: 78px;
  }
  
  .mobileOverlay {
    display: none;
  }
  
  .sloganWrap {
    top: 40%;
    position: absolute;
    background-color: white;
    left: 24px;
    display: block;
  }

  .patreonDescription {
    width: 480px;
  }

  .patreonTitle {
    font-size: 96px;
  }

  .sloganWrap > div {
    transform: rotate(-3.646deg);
    font-size: 26px;
  }

  .button {
    left: initial;
    width: initial;
    transform: initial;
    padding: 12px 70px;
    font-size: 16px;
    border: none;
    top: 154px;
    font-size: 17px;
    border-bottom: 2px solid white;
    border-left: 1px solid white;
  }

  .center {
    position: relative;
    width: calc(100% - 32px);
    height: 100%;
    margin: 0 auto;
  }

  .triangle {
    left: calc(25% - 170px);
  }

  .chair {
    left: 23%;
  }

  .hostsTitle {
    font-size: 75px;
    margin-bottom: 40px;
  }

  .hostsColumns {
    flex-direction: row;
    gap: 80px;
  }

  .socialListWrap {
    flex-direction: row;
    margin-top: 0;
  }

  .socialList {
    margin-top: 56px;
  }

  .footerBottom {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }

  .copyright {
    text-align: right;
    margin-top: 0;
  }

  .landingSection {
    height: 740px;
  }

  .socialTab {
    margin: 8px 0;
  }

  .hostsCircle {
    margin: 12px 0;
  }

  #dan.spotlight {
    left: 0px;
  }
}

@media screen and (min-width: 1312px) {
  .center {
    width: 1280px;
  }

  .triangle {
    height: initial;
  }
}
